@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap');

/*font-family: 'Work Sans', sans-serif;*/

:root {
  --body-background-color: #00a9fa;
  --container-background-color: #fffbf4;
  --card-background-color: #e0e0e0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-background-color);
  width: 100%;
  height: 100%;
  font-family: 'Work Sans', sans-serif;
}

hr {
  border: 0;
  border-top: 2px dashed var(--body-background-color);
  width: 100%;
}

.container {
  background-color: var(--container-background-color);
  width: 95%;
  margin: 20px auto;
  border-radius: 15px;
}

.card {
  background-color: var(--card-background-color);
  width: 95%;
  margin: 15px auto;
  padding: 15px;
  border-radius: 10px;
}

.card-title {
  font-weight: 200;
  margin-bottom: 10px;
}

.card-content {
  display: flex;
  height: 100%;
  width: 100%;
}

.card-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.card-info > .info {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
}

.icon-description {
  display: flex;
}

.flex-collumn {
  flex-direction: column;
}

/* -------------- */
/* Header Css */
/* -------------- */
.header {
  display: flex;
  height: 100px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px 0 20px;
  object-fit: cover;
  position: relative;
}

.logo > img {
  height: 90%;
  width: 1000%;
  background-size: contain;
  object-fit: cover;
}

.search-bar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.search-bar > input {
  background-color: var(--card-background-color);
  padding: 10px;
  border-radius: 15px;
  border-color: var(--body-background-color);
  font-size: 18px;
  text-transform: capitalize;
}

.search-bar > input:focus {
  border-color: var(--body-background-color);
  box-shadow: var(--body-background-color) 0px 2px 8px, var(--body-background-color) 0px 4px 12px, var(--body-background-color) 0px 8px 28px;
}

.search-button {
  color: var(--body-background-color);
  border: 0;
  background-color: transparent;
  margin: 0 10px;
}


.search-button:active {
  position: relative;
  top: 1px;
}

/* -------------- */
/* Main Content Css */
/* -------------- */
.main-content-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

/* -------------- */
/* Today forecast Css */
/* -------------- */

.today-forecast-card {
  display: flex;
  margin: 20px 0;
}

/* -------------- */
/* Days Forecast Css */
/* -------------- */
.days-forecast-card {
  display: flex;
  margin: 20px 0;
}

.day-forecast-card {
  width: 100%;
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon > img {
  width: 70px;
}

/* -------------- */
/* Air Condition Css */
/* -------------- */
.air-condition-row {
  display: flex;
  justify-content: space-between;
}
